body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 5rem 4rem;
    width: 300px;
    background-color: #fff;
    box-shadow: 7px 7px;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
}

p {
    margin: 0;
}

textarea {
    padding: 0.5rem;
    height: 4rem;
    border: 1px solid lightgray;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

.check {
    display: flex;
}

input[type="checkbox"] {
    width: 2rem;
    height: 2rem;
    border-radius: none;
    accent-color: black;
    cursor: pointer;
}

label {
    display: inline-block;
    padding: 0.5rem 0 0 0.3rem;
    font-size: 0.9rem;
}

a {
    color: black;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    position: relative;
}

.send-icon {
    width: 24px;
    position: absolute;
    left: -1rem;
    opacity: 0;
    /* transition: transform 300ms, opacity 300ms; */
}

.notsent:hover .send-icon {
    transform: translateX(2rem);
    opacity: 1;
    transition: transform 300ms, opacity 300ms;
}

button:active .send-icon {
    animation: shake 75ms infinite;
}

.sent {
    transform: translateX(20rem);
    transition: 300ms;
    opacity: 0.5;
}

@keyframes shake {
    0% {
        rotate: 5deg;
    }
    100% {
        rotate: -5deg;
    }
}
