body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    color: #242f4c;
    font-family: Montserrat, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    width: 32.5rem;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.05);
    position: relative;
}

button {
    margin-left: auto;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

h1 {
    margin: 0;
    font-weight: 400;
}

p {
    margin-bottom: 4rem;
    padding: 0 1.5rem;
    text-align: center;
    font-size: 1.2rem;
}

.options {
    display: flex;
    gap: 2rem;
    position: relative;
}

.option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    width: 6rem;
    height: 6rem;
    background-color: #fff;
    border-radius: 5px;
    border: 14px solid #e4e9fa;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.option:hover {
    background-color: #e4e9fa;
    transition: 300ms;
}

.option-clicked::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: -28px;
    border-radius: 5px;
    border: 14px solid #e4e9fa;
    /* background-color: red; */
    background-color: transparent;
    animation: pulse 600ms;
    animation-fill-mode: forwards;
}

.icon {
    width: 24px;
    height: 24px;
}

.close {
    width: 30px;
    height: 30px;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        opacity: 0.5;
    }
    100% {
        transform: scale(1.1);
        opacity: 0;
    }
}
